
<div class="profile-info">
    <img src="{{ row.avatar }}" alt="Profile Picture">
    <div class="info-copy">
        <p class="name">{{ row.name }}</p>
        <p class="handle">{{ row.handle }}</p>
    </div>
    <button class="follow-btn">Follow</button>
</div>


<!-- <div class="profile-info">
    <img src=" {{user.user_avatar_path}}" alt="Profile Picture">
    <div class="info-copy">
        <p class="name"> {{user.user_first_name }} {{user.user_last_name }} </p>
        <p class="handle">@{{ user.user_username }}</p>
    </div>

    <button class="follow-btn">Follow</button>
</div> -->