<article class="post">
    <img src="{{ row.user_avatar_path }}" alt="Profile Picture" class="avatar">
    <div class="post-content">
        <div class="post-header">
            <span class="name">
                {{ row.user_username }}
            </span>
            <span class="handle">@jonass</span> · <span class="time">1d</span>
        </div>
        <p class="text">{{ row.post_message }}</p>
        <img src="https://picsum.photos/400/250" alt="Post image" class="post-image">
        <div class="post-actions">
            <span class="action"><i class="fa-regular fa-comment"></i> 12</span>
            <span class="action"><i class="fa-solid fa-retweet"></i> 5</span>
            {% include "___heart.html" %}
            <span class="action"><i class="fa-solid fa-chart-simple"></i> 230</span>
            <span class="action"><i class="fa-solid fa-share"></i></span>
        </div>
    </div>
</article>

