<div class="post">
    <div class="left">
        <img src="{{ url_for('static', filename='images/avatar_2.jpg') }}">
    </div>
    <div class="right">
        <div>
            <span>Nick Som</span>
            <span class="username">@nsom</span>
        </div>
        <div class="content">
            Can anyone explain what Charlie Kirk’s two “security guards” to his back right were doing the
            seconds before he was fatally shot? One grabs his cap and tugs his ear, then intently films…
            looking to the other, who does something blatantly odd with his arms… then the shot rings
        </div>
        {% include "___heart.html" %}
    </div>
</div>