<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <title>Document</title>
</head>

<body>

    <button id="like_tweet" onclick="likeTweet()">heart simple</button>

    <button id="unlike_tweet" class="hidden" onclick="unlikeTweet()">heart solid</button>

    <script src="{{ url_for('static', filename='app.js') }}"></script>

</body>

</html>