<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Document</title>
</head>

<body>

    <button mix-post="/api-bookmark">
        <i class="fa-regular fa-bookmark" style="pointer-events: none;"></i>
    </button>



    <script src="{{ url_for('static', filename='mixhtml.js') }}"></script>

</body>

</html>